@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iconfont";
  src: url("./assets/iconfont.ttf") format("truetype");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

.link-button {
  padding-inline: 4px;
  padding-bottom: 6px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.link-button .widget {
  width: 100%;
}

.link-button .widget button {
  width: 100%;
  font-size: 120%;
}

.icon {
  font-family: "iconfont";
  font-size: 170%;
  float: right;
}

.github:before {
  content: "b";
}
